@import "tailwindcss";

/* Enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --bg: #ffffff;
    --text: #111827;
    --border: #d1d5db;
}

.dark {
    --bg: #111827;
    --text: #f9fafb;
    --border: #374151;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}